<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-6">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" placeholder="The name  of  your company" formControlName="title" />
        </div>
        <div class="mb-3">
          <label class="form-label">Description</label>
          <textarea class="form-control" placeholder="Your  campaign  focus and goal" formControlName="description"
            rows="3"></textarea>
          <p *ngIf="hasError('description','required')">Describe your company goal</p>
        </div>
        <div class="mb-3">
          <label class="form-label">Delivery Type</label>
          <textarea class="form-control"
            placeholder="What will  you be delivering  to the client  as a part  of  your service"
            formControlName="delivery_type" rows="3"></textarea>
          <p *ngIf="hasError('delivery_type','required')">
            What will you be delivering to the client as a part of your service
          </p>
        </div>
        <div class="mb-3">
          <label class="form-label">Select the location </label>
          <div>
            <p-multiSelect [style]="{'width': '540px'}" [options]="locations" [optionValue]="'id'"
              formControlName="location_id" optionLabel="title" display="chip">
            </p-multiSelect>
          </div>
          <p *ngIf="hasError('password','required')">Select the location</p>
        </div>
        <div class="mb-3">
          <label class="form-label"> Select the language </label>
          <div>
            <p-multiSelect [options]="languages" [style]="{'width': '540px'}" [optionValue]="'id'"
              formControlName="language_id" optionLabel="title" display="chip">
            </p-multiSelect>
          </div>
          <p *ngIf="hasError('language_id','required')">Select the language</p>
        </div>
        <div class="mb-3">
          <label class="form-label"> Select the category </label>
          <div>
            <p-multiSelect [options]="categories" [style]="{'width': '540px'}" [optionValue]="'id'"
              formControlName="category_id" optionLabel="title" display="chip">
            </p-multiSelect>
          </div>
          <p *ngIf="hasError('category_id','required')">Select the category</p>
        </div>
        <div class="mb-3">
          <label class="form-label"> Social Networks </label>
          <div>
            <p-multiSelect [options]="socialNetworks" [style]="{'width': '540px'}" [optionValue]="'id'"
              formControlName="social_network_id" optionLabel="title" display="chip"></p-multiSelect>
          </div>
          <p *ngIf="hasError('social_network_id','required')">Social Networks</p>
        </div>
        <div>
          <label class="form-label">Campaign duration
          </label>
          <div class="row">
            <div class="form-group ">
              <div class="date">
                <input class="form-control datepicker  input-date " #drp="bsDaterangepicker"
                [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" bsDaterangepicker formControlName="date">
                <span class="input-group-addon " (click)="drp.toggle()" [attr.aria-expanded]="drp.isOpen"
                  type="button"><img src="../assets/img/calendar.svg"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Campaign products </label>
          <input type="file" multiple class="form-control" accept=".jpg,.jpeg,.png" (change)="uploadFile($event)" />
          <label for="file-upload" class="custom-file-upload"></label>
        </div>
        <div>
          <div class="mb-3 imgcontainer">
            <div class="col-md-3 " *ngFor="let image of images; let i = index">
              <img [src]="image ? image : './assets/img/avatar.jpg'" class="product-image" />
              <span (click)="filter(i)" class="filter"> <img class="fa-times" src="../assets/img/x.svg" alt=""> </span>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Campaign vedio url
          </label>
          <input type="text" class="form-control" formControlName="urls" />
          <p *ngIf="hasError('urls','required')">Campaign vedio url</p>
        </div>
      </div>
    </div>
    <div class="card" style="padding: 30px;">
      <div class="row">
        <div class="col-6">
          <div class="mb-3">
            <label class="form-label">Budged
            </label>
            <input type="number" class="form-control" (keyup)="changed($event)" />
          </div>
        </div>
        <div class="col-6">
          <p class="left">Estimated influencer</p>
          <p class="right">{{plan.influencer_min}} -{{plan.influencer_max}}</p>
          <br>
          <hr>
          <p class="left">Estimated people reached</p>
          <p class="right">{{plan.coverage_min}}-{{plan.coverage_max}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="mb-3">
          <label class="form-label">Number of freelancer</label>
          <div class="m-11">
            <input class="touchspin" #qty name="quantity" value="{{ counter }}" />
            <img class=" fa-minus" (click)="decrement()" src="../assets/img/minus.svg">
            <img class=" fa-plus" (click)="increment()" src="../assets/img/plus.svg">
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Campaign giveaway</label>
          <textarea class="form-control" rows="3" formControlName="giveaway"></textarea>
          <p *ngIf="hasError('giveaway','required')">Campaign giveaway</p>
        </div>
        <div class="mb-3">
          <button class="btn btn-primary" type="submit">Submit campaign</button>
          <button class="btn btn-light btn-right" type="button" (click)="saved()">
            Save campaign
          </button>
        </div>
      </div>
    </div>
  </form>
</div>