.inline {
  display: inline-block;
}
select:focus,
input:focus,
input:focus,
input[type]:focus,
textarea:focus,
.uneditable-input:focus {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 1px rgba(102, 175, 233, 0.6);
  outline: 0 none;
}

.imgcontainer {
  display: flex;
  .product-image {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin: 10px 0 10px 0;
    justify-content: center;
  }
  .imgcontainer .fa-times {
    position: absolute;
    margin-top: 20px;
    margin-left: -30px;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
  }

  .imgcontainer .filter {
    text-decoration: none;
    background-color: white;
    border-radius: 50%;
    height: 40px;
    width: 50px;
    cursor: pointer;
  }
}

input[type="file"] {
  display: inline-block;
  opacity: 0;
  position: absolute;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 30px;
  padding-bottom: 67px;
  width: 85%;
  z-index: 99;
  margin-top: 10px;
  cursor: pointer;
}
.custom-file-upload {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-top: 30px;
  padding-bottom: 30px;
  background: url("../assets/img/upload+icon-1320183614493089497_0.svg") #fff
    center center no-repeat;
  width: 91%;
  border: 1px dashed #66afe9 !important;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  text-align: center;
}

label {
  font-size: 16px;
  font-weight: bold;
}

.m-11 {
  width: 120px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 2px;
  margin-left: 20px;
  .fa-minus {
    margin-left: 10px;
    font-size: 14px;
    width: 20px;
    height: 20px;
    border-radius: 60px;
    box-shadow: 0px 0px 2px green;
  }

  .fa-plus {
    margin-left: 10px;
    font-size: 14px;
    width: 20px;
    height: 20px;
    border-radius: 60px;
    box-shadow: 0px 0px 2px green;
  }

  .touchspin {
    border: none;
    width: 25px;
    font-size: 18px;
    margin-left: 15px;
    padding-top: 5px;
  }
}

.btn-right {
  margin-left: 100px;
}

.right {
  float: right;
}
.left {
  float: left;
}

.date {
  display: flex;
  width: 540px;
  height: 40px;
  margin-left: 15px;
  border-radius: 25px;
  background: #ffffff;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 18px;
  .datepicker {
    width: 530px;
    margin-left: 15px;
  }
  .input-date {
    width: 540px;
    border: none;
  }
  .input-group-addon {
    margin-right: 10px;
    margin-top: 5px;
  }
}
